table {
	font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    letter-spacing: 0; 
	border-collapse: collapse;
	border-spacing: 0;
	height: 489px;
	display: block;
	overflow: scroll;
	width: 100%;

	td { 
        border-left: 1px solid #999; 
        border-top: 1px solid #999;  
		padding: 2px 4px;
		background: #eee; overflow: hidden; 
    }

    tr:first-child td {
        border-top: none;
	}

    th { 
        border-left: 1px solid #999; 
        padding: 2px 4px;
        background: #6b6164;
        color: white;
		font-variant: small-caps;
		top: 0px;
		position: sticky;
		font-size: 14px;
	}

	div {
		min-width: 100px;
	}
}

div.scrollableContainer { 
    position: relative; 
    //padding-top: 2em; 
    margin: 40px;    
    border: 1px solid #999;
    background: #6b6164;
}

a {
    cursor: pointer;
}

ul.pagination {
	margin: 0px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #008CBA;
    color: white;
    border: 1px solid #008CBA;
}
ul.pagination li.disabled {
    pointer-events: none;
  	cursor: default;
}

ul.pagination li a:hover:not(.active):not(.disabled) {background-color: #ddd;}

.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.column {
	float: left;
	padding: 10px;
	margin-top: 0px;
}

.left {
	width: 80%;
}

.right {
	width: 15%;
}

.pageSelector {
	width: 75px;
	height: 36px;
}

/* Clear floats after the columns */
.pager:after {
	content: "";
	display: table;
	clear: both;
}
