<div class="scrollableContainer">
  <!-- <div class="scrollingArea">
  <table class="scrollable"> -->
  <div class="table-responsive">
    <table class="table">
    <thead class="header">
      <tr>
        <th *ngFor="let columnName of diplayColumns"><div>{{columnName}}</div></th>
        <th><div>Action</div></th>
      </tr>
    </thead>
    <tbody class="content">
      <tr *ngFor="let person of pagedItems">
        <td *ngFor="let columnName of diplayColumns"><div>{{ person[columnName] }}</div></td>
        <td><button class="button" (click)="onSubmit(person.id)">Submit</button></td>
      </tr>
    </tbody>
    <tfoot class="footer"></tfoot>
  </table>
  </div>
</div>

<!-- pager -->
<div class="pager">
  <div class="column left">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages">
          <a (click)="setPage(page)" [ngClass]="{active:pager.currentPage === page}">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>

  <div class="column right">
    Page size 
    <select class="pageSelector" (change)="onPageSelection($event)">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="{{persons.length}}">All</option>
    </select>
  </div>
</div>